---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Pillars from '../components/Pillars.astro';
import Results from '../components/Results.astro';
import CTA from '../components/CTA.astro';
---

<Layout>
  <Nav />
  <main id="main-content">
    <Hero />
    <Pillars />
    <Results />
    <CTA />
  </main>
</Layout>
